<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="top_menu">
        <div class="top_menu_text">WhatsApp</div>
        <div class="top_menu_search"><ion-icon name="search-outline"></ion-icon></div>
        <div class="top_menu_icon"><ion-icon name="ellipsis-vertical-outline"></ion-icon></div>
      </div>
    </ion-title>

    <div class="top_menu_tabs">
      <div class="top_menu_camera"><ion-icon name="camera-outline"></ion-icon></div>
      <div class="top_menu_tabs_chats">
         <ion-tab-button class="top_menu_chats" routerLink ="/home/chats"> CHATS <span>6</span></ion-tab-button>
         <ion-tab-button class="top_menu_status" routerLink ="/home/status">STATUS</ion-tab-button>
         <ion-tab-button class="top_menu_calls" routerLink ="/home/calls">CALLS</ion-tab-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-router-outlet></ion-router-outlet>

</ion-content>
